.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.tollListclass:hover {
  border: 1px solid grey;
}
.layout {
  padding: 2rem;

  height: 100vh;
  background-color: #f9f9f9;
}
.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.title-container {
  /* border-bottom: 1px solid #7f8487; */
}
.page-title {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.action-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  padding: 10px;
  background-color: #71cccc;
  border-radius: 10px;
  margin-top: 10px;
}
.action-tile {
  font-size: "20px";
  font-weight: 200;
}
.icon-container {
  width: "16px";
  height: "16px";
  font-size: "16px";
}
table {
  /* border: 2px solid forestgreen; */
  flex: 1;
  height: 200px;
  border-collapse: collapse;
  border-radius: 0.5rem;
  overflow: hidden;
}
.table-header {
  background-color: #2a2341;
  height: 50px;
}

td {
  text-align: center;
}
th {
  color: white;
  font-weight: bold;
}
th,
td {
  text-align: left;
  padding: 10px;

  /* padding-top: 5px; */
}
tr {
  transition: all 1s ease-in-out;
}
tr:nth-child(even) {
  background-color: #d6eeee;
}
.slide-out {
  transform: translateX(100%);
}
.toll-slide-out {
  transform: translateX(100%);
}
.customButton {
  transition: box-shadow 0.3s;
}
.customButton:hover {
  box-shadow: 0 0 10px rgba(31, 183, 72, 0.909);
}

.trigger {
  text-align: center;
  padding: 7px 13px;
  background: #3e3e3e;
  color: #fff;
  font-size: 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: cursive;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.toll-name {
  width: 50%;
  padding: 12px 20px;
  /* margin: 8px 0; */
  outline: none;
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #d8d8d8;
  font-size: 16px;
  font-weight: 200;
}
.journey-fare {
  padding: 5px;
  width: 80%;
  margin-left: 10px;
  outline: none;
  border: none;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 10px;
  background-color: white;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  padding: 1rem 1.5rem;
  width: 30rem;
  height: auto;
  /* align-items: center; */
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}
.close-button {
  float: right !important;
  width: 1.5rem;

  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.popup-text {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}
.inner-content {
  float: left;
  color: "black";
  flex: 1;
  width: "100%";
  /* float: right; */
  /* width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem; */
  /* background-color: lightgray; */
}
.close-button:hover {
  background-color: darkgray;
}
.required::after {
  content: "*";
  color: red;
}
.modal-form {
  justify-content: center;
  align-items: center;
  flex: 1;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.dropbtn {
  background-color: #f2f2f2;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #d8d8d8;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
}
.searchTerm {
  outline: none;
  border: none;
}
#myInput {
  box-sizing: border-box;
  /* background-image: url("searchicon.png"); */
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}
.input-number {
  width: 100%;
  padding: 12px 20px;
  /* margin: 8px 0; */
  outline: none;
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #d8d8d8;
}
#myInput:focus {
  outline: 3px solid #ddd;
}
.select-dropdown {
  /* styling */
  background-color: #d8d8d8;
  border: none;
  border-radius: 4px;
  outline: none;
  display: inline-block;
  font: inherit;
  line-height: 1.5rem;
  padding: 0.5em 3.5rem 0.5em 1em;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* -webkit-appearance: none;
  -moz-appearance: none; */
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
  border-radius: 5px;
}
div::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
