.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.layout {
  padding: 2rem;

  height: 100vh;
  background-color: #f9f9f9;
}
.title {
  font-size: 2rem;
  font-weight: bold;
}
.title-container {
  border-bottom: 1px solid #7f8487;
}
.action-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
}
.action-tile {
  font-size: "20px";
  font-weight: 200;
}
.icon-container {
  width: "16px";
  height: "16px";
  font-size: "16px";
}
table {
  border: 2px solid forestgreen;
  flex: 1;
  height: 200px;
}

th {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
}
.trigger {
  text-align: center;
  padding: 7px 13px;
  background: #3e3e3e;
  color: #fff;
  font-size: 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: cursive;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  height: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.inner-content {
  background-color: "red";
  float: left;
  color: "black";
  /* float: right; */
  /* width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem; */
  /* background-color: lightgray; */
}
.close-button:hover {
  background-color: darkgray;
}
.modal-form {
  justify-content: center;
  align-items: center;
  flex: 1;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
